aniso8601==3.0.0
beautifulsoup4==4.6.0
bs4==0.0.1
click==6.7
cycler==0.10.0
Flask==1.0.2
Flask-RESTful==0.3.6
fuzzywuzzy==0.16.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.14.3
opencv-contrib-python==3.4.1.15
Pillow==5.1.0
pyocr==0.5.1
pyparsing==2.2.0
PyPDF2==1.26.0
pytesseract==0.2.2
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
uuid==1.30
Wand==0.4.4
Werkzeug==0.14.1
