
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Parse Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2 class="text-muted">LIGHTING FIXTURE SCHEDULE</h2>
        </div>
        <hr/>

        <div>
            <form action="/submit" method="post" enctype="multipart/form-data">
                <input name="file" type="file"><br /><br />
                <input type="submit" value="submit">
            </form>
        </div>
    </div>

</body>
</html>

